<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyAlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2AE064D1C36B3A00091E364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2AE06661C36B3A00091E364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2AE06711C36B3A00091E364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
